.userPhoto {
    width: 140px;
    height: 140px;
}

.selected button {
    color: green;
    font-weight: 600;
    cursor: pointer;
}

.pagination {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}