.nav {
    grid-area: nav;
    background-color: green;
    max-width: 300px;
}

.item a {
    color: #fff;
}

.item a.active {
    color:gold;
}

.sidebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 30%;
    color: #fff;
}

.sidebar__item img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

